@import "tailwindcss";

:root {
  font-family: 'Syne', sans-serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light;
  color: #1A1A1A;
  background-color: #FDFCF0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}
